
   ul.hr {
    margin: 0; 
    padding: 4px;
   }
   ul.hr li {
    display: inline-block; 
    margin-right: 5px;
    padding: 3px;
	
	background: #e74c3c;
	color: #ecf0f1;
	width: 70px;
	border-top: 9px solid #c0392b;
	border-left: 6px solid #ff6656;
   }
   ul.hr li:first-child {
		background: #feca57!important;
		border-top: 9px solid #e58208;
		border-left: 6px solid #ffdb56;
   }
   .__open-button {
	   padding: 15px;
	   color: #fff;
	   font-size: 20px;
	   background:#3498db;
	   border-bottom: 10px solid #2980b9;
	   border-left: 7px solid #37a2e8;
	   text-align: center;
   }
   .__m-b10 {
	   margin-top: 10px;
	   display: block;
   }
   .container {
	   width: 90%;
	   max-width: 90%;
	   display: block;
	   margin: auto;
   }
   .block-one {
	   display: inline-block;
	   float: left;
	   width: 40%;
	   margin-left: 10px;
   }
   .block-two {
	   margin-top: 30px;
	   display: inline-block;
	   float: right;
	   width: 55%;
	   margin-right: 10px;
	   display: none;
   }
   .__image_default {
	   max-width: 48px;
	   max-height: 48px;
	   text-align: center;
	   display: block; margin: auto;
   }
   .__image_content {
	   text-align: center;
	   font-size: 21px;
   }
   #__arrow {
	   float: right;
	   max-width: 100px;
	   display: none;
   }